<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

</head>
<body>
    <h1>Dashboard</h1>
    <!-- Em login.html, register.html e dashboard.html -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

    <p>Bem-vindo, {{ current_user.username }}!</p>
    <p><a href="{{ url_for('index') }}">Página Inicial</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>

</body>
</html>
