<!DOCTYPE html>
<html>
<head>
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form method="post">
        <label>Nome do Produto: <input type="text" name="product_name" value="{{ product[1] }}"></label><br>
        <label>Descrição: <textarea name="product_description">{{ product[2] }}</textarea></label><br>
        <label>Preço: <input type="text" name="product_price" value="{{ product[3] }}"></label><br>
        <input type="submit" value="Salvar Alterações">
    </form>
    <p><a href="{{ url_for('dashboard') }}">Voltar ao Dashboard</a></p>
</body>
</html>
