<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Login e Cadastro</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <!-- Em index.html -->
    {% with messages = get_flashed_messages(category_filter=["danger"]) %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    <p><a href="{{ url_for('login') }}">Fazer Login</a></p>
    <p><a href="{{ url_for('register') }}">Registrar</a></p>
</body>
</html>
